
.servicio_individual{
	padding-top: 60px ;
	border-top: 10px solid black;
}

.servicio_individual h3{
	text-align: center;
}
.servicio_individual ul li{
	font-size: 20px;
}

article[id^="presentacion"]{
	padding: 60px 0px;
	font-size: 20px;
}
article[id^="presentacion"] img{
	width: 400px;
	height: 300px;
}
 article h3{
 	text-align: center;
 	padding-bottom: 30px;
 }

