h2.titulo{
	padding-bottom: 30px;
	border-bottom:  10px solid black;
}
section.datos_informacion{
	padding: 30px 0;
	border-bottom:  10px solid blue;
	font-size: 20px;
}

section.formulario_datos{
	padding: 30px 0 30px 200px;
	border-bottom:  10px solid black;
}
section.formulario_datos h4{
	padding-bottom: 20px;
}

section.formulario_map{
	padding: 30px 0 0 0;
}
section.datos_informacion span{
	font-weight: bold;
}

section.datos_informacion p{
	text-align: center;
}
