
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*-------Estilo para el header--------------*/


div.imagen_fondo{

	position: relative;
	display: block;
}
div.contenido_imagen_fondo{
	display: block;
	position: absolute;
	bottom: 100px;
	text-align: center;
	background-color: rgba(0, 0, 0, .5);
}
div.contenido_imagen_fondo p{

	padding: 20px 15px;
	color: white;
	text-align: justify;
}
div.contenido_imagen_fondo h2{
	color: white;
}
/*-------footer--------------------------*/
footer{
	background-color: rgba(0, 0, 0, .7)
}
footer{
	text-align: center;
	padding: 10px 20px;
	color: white;
}

div.informacion{
	padding: 20px 0;
	border-right: 10px solid white;
}
div.ubicacion{
	padding: 20px 0;
	border-right: 10px solid white;
}
div.ubicacion iframe{
	padding: 0 0 0 40px;
}
div.formulario{
	padding: 20px 0;
}
div.formulario legend{
	color: white;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 50px;
}
div.formulario form{
	padding: 0 0 0 30px;
}



/*-------Principal-----------------------*/
h2{
	text-align: center;
}
/*-----------------------------------*/




/*-----------Estilos para imagenes de noticias-----------------*/
img.container{
	background-size: cover;
	height: 150px;
	margin-left: 5%;
	margin-right: 5%;
}

/*-------Estilos para servicios----------*/
.servicios{
	margin-top: 3%;
	margin-bottom: 3%;
}

div.imagen_fondo{
	padding: 20px 0;
}

div.contenido{
	padding: 50px 0;
}
span{
	font-weight: bold;
}
