
/*------Index-------*/
/*-------Estilo para el header--------------*/


div.imagen_fondo{
	position: relative;
	display: block;
}
div.contenido_imagen_fondo{
	display: block;
	position: absolute;
	bottom: 100px;
	text-align: center;
}
div.contenido_imagen_fondo p{
	text-align: justify;
}
/*-------footer--------------------------*/

/*---------------------------------------*/
/*-------Principal-----------------------*/
h2{
	text-align: center
}
/*-----------------------------------*/

/*---contactenos----*/
section.datos_informacion span{
	font-weight: bold;
}

section.datos_informacion p{
	text-align: center;
}

/*-----------Estilos para imagenes de noticias-----------------*/
img.container{
	background-size: cover;
	height: 150px;
	margin-left: 5%;
	margin-right: 5%;
}

/*-------Estilos para servicios----------*/
.servicios{
	margin-top: 3%;
	margin-bottom: 3%;
}