/*! Página de estilos*/
/*-------------------------------------*/
*{
	box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 0.2%;
    margin: 0;
    border: 1px solid red;
}
*{
	box-sizing: border-box;
	margin:0;
  	padding:0;
}
.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}

[class*="col-sm-"] {
    float: left;
    padding: 0.2%;
    margin: 0;
    /*border: 1px solid red;*/
}
/*------------------------------------*/
/*------Index-------*/
/*-------Estilo para el header--------------*/

nav{
	margin: 0 auto;
	position: relative; 
}
nav ul{
	list-style: none;
}
nav > ul > li{
	float: left;
}
nav ul::after {
  content: '';
  display: block;
  clear: both;
}
nav ul li a{
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
	text-align: center;
}
nav ul ul{
	position: absolute;
	top: 100%;
	display: none;
}
nav ul li:hover > ul{
	display: block;
}
div.imagen_fondo{
	position: relative;
	display: block;
}
div.contenido_imagen_fondo{
	display: block;
	position: absolute;
	bottom: 100px;
	text-align: center;
}
div.contenido_imagen_fondo p{
	text-align: justify;
}
/*-------footer--------------------------*/

/*---------------------------------------*/
/*-------Principal-----------------------*/
h2{
	text-align: center
}
/*-----------------------------------*/

/*---contactenos----*/
section.datos_informacion span{
	font-weight: bold;
}

section.datos_informacion p{
	text-align: center;
}

/*-----------Estilos para imagenes de noticias-----------------*/
img.container{
	background-size: cover;
	height: 150px;
	margin-left: 5%;
	margin-right: 5%;
}

/*-------Estilos para servicios----------*/
.servicios{
	margin-top: 3%;
	margin-bottom: 3%;
}