/*------Estilos para la barra de busqueda -----*/
.search{
	align-items: center;
	justify-content: center;
	font-weight: 2em;
	padding: 3%;
}

.search form .search_holder{
	width: 60%;
	align-self: center;
}

* {

    box-sizing: border-box;

}